body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#product-overview {
  background: red;
}

.section-title {
  color: #2dff5c;
}

#product-overview h1 {
  color: #fff;
  font-family: 'Indie Flower', sans-serif;
}

